.top-menu
{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.menu-button
{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    font-size: 28px;
    line-height: 1;
    color: white;
    appearance: none;
    -webkit-appearance: none;
}

.popup-menu
{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: black;
    border-radius: 0 0 32px 32px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
    overflow: hidden;
    z-index: 999;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.popup-menu.show
{
    max-height: 300px;
}

.popup-menu a,
.menu-item
{
    text-align: center;
    display: block;
    padding: 14px 18px;
    color: white !important;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.popup-menu a:hover,
.menu-item:hover
{
    background: white;
    color: black !important;
}


.menu-divider
{
    height: 1px;
    background: #eee;
}


.has-submenu
{
    position: relative;
}

.submenu
{
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    width: 180px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .12);
}

.has-submenu:hover .submenu
{
    display: block;
}